{{#link-to 'klubs.index' @category.identifier}}
  <div class="card-overlay">
    {{@category.name}}
  </div>
  <div class="card-image">
    <img src="{{@category.thumbnail}}" alt="{{@category.name}}">
  </div>
{{/link-to}}