<ul class="klub-list-inner fancy-scrollbar">
  {{#each klub in klubs}}
    {{klub-card klubId=klub.id name=klub.name town=klub.town isHovered=klub.isHovered}}
  {{/each}}
  {{#unless klubs}}
    <div class="loader">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
    </div>
  {{/unless}}
</ul>
