<ul class="klub-list-inner fancy-scrollbar">
  <li class="klub-card">
    <div class="klub-card-inner klub-card-inner--search">
      {{input type="search" value=query class="klub-list-search" placeholder="Išči"}}
    </div>
  </li>

  {{#each filteredKlubs as |klub|}}
    {{klub-card-wrapper klub=klub categoryShown=categoryShown}}
  {{else}}
    <div class="loader">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
    </div>
  {{/each}}
</ul>