<div class="klub-card-inner">
  {{#link-to 'klub' klubId class=parentCSSClasses }}
    {{name}}
  {{/link-to}}
  {{#link-to 'klub' klubId class=branchCSSClasses }}
    <small class="branch">{{town}}</small>
  {{/link-to}}

  {{#each branchesWithCategory as |branch|}}
    {{#link-to 'klub' branch.id class=branchCSSClasses }}
      <small class="branch">{{branch.town}}</small>
    {{/link-to}}
  {{/each}}
</div>

{{!-- for come reason classNamesBinding is not updating when using
the link-to helper. --}}