<article class="klub_page-article">
  <h1 class='klub_page-item'>{{name}}<div class="klub_page-close_btn klub_page-item">{{unbound fa-icon "close"}}</div></h1>
  <p class='klub_page-item'>{{address}}</p>
</article>
{{yield}}
