<button class="sliding-menu-button" {{action 'toggleSideNav'}} title="Klikni za meni">
  <h1 class="title">{{fa-icon "bars"}}&nbsp; Zatresi</h1>
  <h2 class="slogan">Za zdravo in aktivno življenje</h2>
</button>
