<button class="sliding-menu-button" {{action 'toggleSideNav'}} title="Klikni za meni">
  <h1 class="title {{category}}">
    Klubi Slovenije - {{category}}
  </h1>
  <h2 class="slogan">Najdi športni klub zase</h2>
</button>
