<div class="button-group button-group--mobile fancy-scrollbar">
  {{#each recentCategories as |category|}}<label>
      <input type="radio" name="button-group" value={{category.identifier}}>
      {{#link-to linkDestination category.identifier  classNameBindings=":category :button-group-item"}}
        {{category.name}}
        {{#if category.isBeta}}
          <span class="tag tag-beta">BETA</span>
        {{/if}}
      {{/link-to}}
    </label>{{/each}}{{#unless isCategorySupported}}<label>
      <input type="radio" name="button-group" value={{currentCategory}}>
      {{#link-to linkDestination currentCategory classNameBindings=":category :button-group-item"}}
        {{capitalize currentCategory}}
        <span class="tag tag-beta">V PRIPRAVI</span>
      {{/link-to}}
    </label>
  {{/unless}}
</div>

