<button class="btn btn-default">
  Ne najdeš svojega kluba?
</button>

<p class="send-email-button--details">
  Prosim, pošlji nam podatke o njem preko {{#link-to 'dodaj-klub'}}obrazca na tej strani{{/link-to}} in ga bomo čimprej dodali.
  <br> <br>
  Hvaležni smo vsake pomoči!
</p>
