<button class="btn btn-default">
  Ne najdeš svojega kluba?
</button>

<p class="send-email-button--details">
  Prosim, pošlji nam podatke o njem (ime, spletno stran, facebook, naslov, telefon in e-pošto) na
  <br>
  {{mail-to 'pedro@zatresi.si?Subject=Novi%20klub' 'pedro@zatresi.si' class="btn btn-default"}}
  <br>
  in ga bomo čimprej dodali.
  <br> <br>
  Hvaležni smo vsake pomoči!
</p>
