<button class="btn btn-default">
  Ne najdeš svojega kluba?
</button>

<p class="send-email-button--details">
  <br>
  Prosim, pošlji nam podatke o njem (ime, spletno stran, facebook, naslov, telefon in e-pošto) na
  <br>
  <a href="mailto:pedro@zatresi.si?Subject=Novi%20klub" class="btn btn-default">pedro@zatresi.si</a>
  <br>
  in ga bomo čimprej dodali.
  <br> <br>
  Hvaležni smo vsake pomoči!
</p>
