<div class="body">
  <div class="article uredi-klub">

    <article>
      <h1 title="Uredi klub">Uredi klub</h1>

      <section>
        {{klub-form klub=model submitButtonDisabled=submitButtonDisabled submit="updateKlub"}}
      </section>
    </article>

    {{outlet}}
  </div>
</div>