<div class="body">
  <div class="article uredi-klub">

    <article>
      <h1 title="Uredi klub">Uredi klub</h1>

      <section>
        <KlubForm @klub={{model}} @submitButtonDisabled={{submitButtonDisabled}} @onSubmit={{action "updateKlub"}} />
      </section>
    </article>

    {{outlet}}
  </div>
</div>