/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 20px;

  font: 16px "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 20px;
  color: #4d4d4d;
}

