body .cc_container {
  padding: 0.5em 0.8em;

  border-width: 0;
  border-top-width: 1px;

  font-family: inherit;
  @include grid-container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cc_btn {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $action-color;
    line-height: 100%;
    color: white;
    margin: 0;

    &:hover {
      background: $focus-outline-color;
      color: white;
    }
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  .cc_message {
    line-height: normal;
  }
}
