@import 'bourbon';

.databar {
  background: #e3e3e3;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1002;
  right: 0;
  width: 300px;
  @include display(flex);
  @include flex-direction(column);

   // @include justify-content(flex-start);
   // @include align-items(stretch);
}
