.klub-list {
  position: absolute;
  background: #e3e3e3;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  z-index: 1;
  margin-left: 10px;
  padding: 7px 3px;
}

.klub-list-inner {
  border-radius: 4px;
  height: 100%;
  overflow-y: scroll;

}
