@import 'bourbon';

.klub-list {
  @include flex(1);
  position: relative;
}


.klub-list-inner {
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 3px;
  right: 5px;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}


/*
STATES
*/
.klub-list--occlude {
  &:before {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    content: " ";
    @include transition (opacity 250ms ease-in 0.1s);
  }


  &:hover, &:focus, &:active {
    &:before {
      opacity: 0;
      @include transition-delay(0s);
      @include transition-duration(85ms);
      @include transition-timing-function(ease-out);
    }
  }
}
