# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
build/

# dependencies
/bower_components/
/node_modules/

# misc
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
.vagrant
deploy.json
package-lock.json

GOODTOKNOW.md

.env*

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
