// Typography
$base-font-family: $font-stack-verdana;
$heading-font-family: $base-font-family;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$white: #fff;
$blue: #1565c0;
$dark-gray: #4d4d4d;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Specifics: side-nav
$sliding-menu-width: 280px !default;

// Specifics: data-bar
$data-bar-width: 330px !default;

// Specifics: logo-button

// Specifics: map widgets
$map-widget-border-color: silver;

// Specifics: top-nav
$top-nav-height: 160px;
$top-nav-height-mobile: 55px;

// KLUBI SLOVENIJE SPECIFIC
$klub-page-max-width: 400px;

$medium-up-grid: (
  media: "(min-width: 640px)"
);

$large-up-grid: (
  media: "(min-width: 860px)"
);

$landscape-large-up-grid: (
  media: "orientation: ladscape and (min-width: 860px)"
);
