{{leaflet-map wantedZoom=zoom wantedCenter=markerCenter klubs=model showKlub="showKlub" isShowPage=isShowPage class="leaflet-container--fullwidth" categoryShown=category}}

{{#unless anyKlub}}
  <div class="loader">
    <div class="spinner-container">
      <div class="spinner"></div>
      <div class="spinner"></div>
      <div class="spinner"></div>
    </div>
  </div>
{{/unless}}

{{outlet}}
