<div class="l-flex klubs-page">

  <div class="l-flex l-flex--vert map-and-klubpage">

    {{leaflet-map zoom=zoom center=markerCenter klubs=model showKlub="showKlub" setHoveredKlub="setHoveredKlub" isShowPage=isShowPage categoryShown=category }}

    {{outlet}}
  </div>

  {{#unless anyKlub}}
    <div class="loader loader--embeds">
      <div class="spinner-container">
        <div class="spinner"></div>
        <div class="spinner"></div>
        <div class="spinner"></div>
      </div>
    </div>
  {{/unless}}

</div>