#address-shower-map {
  width: 100%;
  height: 270px;
}

.address-shower {
  // @include span-columns(12);
  width: 100%;
  height: 300px;
  @include transition(opacity 0.5s);
  margin-bottom: 8px;

  &.geocoding-invalid {
    opacity: 0.5;
  }
}
