.data-bar {
  $data-bar-border: 1px solid $map-widget-border-color;
  display: none;
  background: #e3e3e3;
  border-left: $data-bar-border;
  @include justify-content(flex-start);
  @include align-items(stretch);
  @include flex(0 0 $data-bar-width);
  @include flex-direction(column);

  @include media($large-screen-up) {
    @include display(flex);
  }
}
