.flashes-container {
  z-index: 1006;
  position: absolute;
  top: 65px;
  right: $data-bar-width + 10px;
  left: $sliding-menu-width + 10px;
}

$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$info-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin flash($color) {
  background-color: $color;
  color: darken($color, 60%);
  display: block;
  font-weight: 600;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.alert-alert {
  @include flash($alert-color);
}

.alert-error {
  @include flash($error-color);
}

.alert-info {
  @include flash($info-color);
}

.alert-success {
  @include flash($success-color);
}
%flash-simple {
  font-weight: inherit;
  text-align: inherit;
}
