/*
* @Author: Pedro Kostelec
* @Date:   2017-07-15 19:40:58
* @Last Modified by:   Pedro Kostelec
* @Last Modified time: 2018-12-08 20:59:21
*/

.card--home {
  $card-image-hover-opacity: 0.6;
  $card-height: 120px;

  .card-overlay {
    opacity: 1;
    height: $card-height;
    line-height: $card-height;
  }

  .card-image {
    height: $card-height;
    max-height: $card-height;
    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:focus,
  &:hover {
    img {
      opacity: 1;
    }
  }
}
