/*
* @Author: Pedro Kostelec
* @Date:   2017-01-29 11:20:15
* @Last Modified by:   Pedro Kostelec
* @Last Modified time: 2017-10-29 20:47:25
*/

.klub-form {
  button[type="submit"] .loader-inline {
    @extend %loader-inline;
    display: none;
  }
  button[type="submit"]:disabled .loader-inline {
    display: inline;
  }

  .fa-ul {
    margin-left: 0;
  }

  .fa-li {
    left: 0;
    text-align: left;
  }

  label {
    margin-left: 1.5rem;
  }

  .line-behind-text:not(:first-child) {
    margin-top: 3em;
  }

  .klub-form-branch-list {
    li {
      input {
        margin-bottom: 0;
      }
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        // The link to add new entry
        margin-top: 0;
      }
      margin-top: 1.5em;
    }
  }

  .klub-from-button {
    display: block;
    // padding: 0.5em 0.75em;
    cursor: pointer;
    margin-bottom: 1em;
  }

  .klub-form-remove-branch-btn {
    padding: 8px;
    cursor: pointer;
    margin: 1px;
    line-height: 18px;
  }
}
