.klub_page {
  $klub-page-max-width: 400px;
  $klub-page-border: 1px solid $map-widget-border-color;

  background: $white;

  // To prevent blurring cause by translation
  @include transform-style(preserve-3d);

  @include media($landscape-large-screen-up) {
    right: $data-bar-width;
    width: $klub-page-max-width;
    left: auto;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    // height: 100%;
  }
}

.klub_page-container {
  @include media($landscape-large-screen-up) {
    @include vertical-align();
    top: 50vh;
  }
}

.klub_page-container--fullwidth {
}

.klub_page-article {
}

.klub_page-item_list {
  margin-left: 0;
}

.klub_page-item {
  // $icon-right-offset: 2.5rem;
  $klub_page-border-color: $map-widget-border-color;


  border-bottom: 1px solid darken($white, 3%);

  line-height: 1.3;  // Don't add units, it makes it fail
  padding: 1em 0.8em;

  p, h1 {
    margin: 0;
    padding-left: 2.14285714rem;
  }

  .fa-li {
    top: 50%;
    transform: translateY(-50%) translateX(2.5rem);
  }

  &:last-child {
    border-bottom: none;
  }

}

.klub_page-close_btn {
  font-size: 1rem;
  cursor: pointer;
  &:hover, &:focus, &:active {
    color: $base-accent-color;
  }
}


.klub_page a {
}
