/*
* @Author: Pedro Kostelec
* @Date:   2017-09-17 12:55:16
* @Last Modified by:   Pedro Kostelec
* @Last Modified time: 2017-09-17 19:51:09
*/

.klub-gallery {
  img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 3px;
  }
}
