.klub-card {

  list-style: none;


  & > .klub-card-inner {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
    min-height: 20px;
    line-height: 20px;
    padding: 10px;

    *:last-child {
      margin-bottom: 0;
    }

    &:hover, &:active, &.active, &.is-hovered {
      background-color: rgb(240,240,240);
    }

    @include animation(fadeIn 0.25s ease);
    @include animation-fill-mode(backwards);


    &.klub-card-inner--search {
      cursor: text;
      padding: 0;

      input {
        padding: calc(10px + 0.5em) 0.5em;
        border-color: transparent;

        &:focus {
          border-color: #477DCA;
        }
      }
    }
  }

  $delay-ease: 1;
  @for $i from 1 through 20 {
    &:nth-of-type(#{$i}) a{
      @include animation-delay($i * $delay-ease * 0.1s);
      $delay-ease: $delay-ease * 0.95;
    }
  }
}


.klub-card--with-branches {
  & > .klub-card-inner {
    padding: 0;
  }

  &:hover, &:active, &.active, &.is-hovered {
    .klub-card-branch {
      background-color: white;
    }
  }

  .klub-card-parent, .klub-card-branch {
    color: inherit;
    display: block;

  }

  .klub-card-parent {
    padding: 10px 10px 5px 10px;
    &.active {
      background-color: rgb(240,240,240);
    }
  }

  .klub-card-branch {
    border-top: 1px solid #efefef;
    padding: 5px 10px;
    &:last-child {
      padding-bottom: 10px;
    }

    &:hover, &:active, &.active {
      background-color: rgb(240,240,240);
    }
  }
}
