.klub_page {
  $klub-page-border: 1px solid $map-widget-border-color;
  position: relative;
  z-index: 1004;

  background: $white;

  // To prevent blurring cause by translation
  @include transform-style(preserve-3d);

  @include media($landscape-large-screen-up) {
    right: 0;
    width: $klub-page-max-width;
    left: auto;
    top: 0;
    bottom: 0;
    max-height: 100vh;
    overflow: auto;
  }
}

.klubs-klub .klubs-page .recent-categories {
  $widgets-separation: 10px;

  @include media($landscape-large-screen-up) {
    right: $klub-page-max-width + $widgets-separation;
  }
}

.klub_page-container {
  width: 100%;
  @include media($landscape-large-screen-up) {
    margin-top: 0;
    margin: auto;
    width: 100%;
  }
}

.klub_page-container--fullwidth {
}

.klub_page-article {
}

.klub_page-item_list {
  margin-left: 0;
}

.klub_page-item {
  // $icon-right-offset: 2.5rem;
  $klub_page-border-color: $map-widget-border-color;

  .klub_page-edit_klub {
    display: none;
  }

  border-bottom: 1px solid darken($white, 3%);

  line-height: 1.3; // Don't add units, it makes it fail
  padding: 1em 0.8em;

  p,
  h1,
  .klub-gallery {
    margin: 0;
    padding-left: 2.14285714rem;
  }

  .fa-li {
    top: 50%;
    transform: translateY(-50%) translateX(2.5rem);
  }

  .fb-comments {
    margin: 0;
    padding-left: 0;
    width: 100%;
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    .klub_page-edit_klub {
      display: inline;
    }
  }
}

.klub_page-close_btn {
  font-size: 1rem;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: $base-accent-color;
  }
}

.klub_page a {
}
