.klub-list {
  @include flex(1);
  position: relative;
  background: #e3e3e3;

  .loader {
    @extend %loader;
    height: 100%;
    color: $blue;
    margin: 0;
  }
}


.klub-list-inner {
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 3px;
  right: 5px;
  border-radius: 4px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.klub-list-search {
  margin: 0;
  width: 100%;
}
