.klub-card {

  list-style: none;


  & > a {
    display: block;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 4px;
    margin-right: 4px;
    min-height: 20px;
    line-height: 20px;
    padding: 10px;

    *:last-child {
      margin-bottom: 0;
    }

    &:hover, &:active, &.active, &.is-hovered {
      background-color: rgb(240,240,240);
    }

    @include animation(fadeIn 0.25s ease);
    @include animation-fill-mode(backwards);
  }

  $delay-ease: 1;
  @for $i from 1 through 20 {
    &:nth-of-type(#{$i}) a{
      @include animation-delay($i * $delay-ease * 0.1s);
      $delay-ease: $delay-ease * 0.95;
    }
  }
}
