header.logo-button {

  $logo-button-color: lighten($base-font-color, 30%);
  $logo-button-background: $base-background-color;
  $logo-button-border-color: $map-widget-border-color;

  position: relative;
  z-index: 1007;
  width: 100%;
  @include outer-container;

  @include media($medium-screen-up) {
    width: $sliding-menu-width;
    position: fixed;
    top: 0;
    left: 0;
    @include pad($base-page-pad);
  }

  h1.title {
    font-size: 2rem;
    height: 41px;
    background-image: url('logo/logo-klubi-slovenije-ffffff-477dca-0-240-41.svg');
    background-repeat: no-repeat;
    text-indent: -99999px;
    background-size: contain;
    background-position: 50% 50%;

    $list: fitnes karate judo gimanstika frizbi wellness cheerleading gimnastika nogomet squash tenis;

    @each $category in $list {
      &.#{$category} {
        background-image: url('logo/logo-klubi-slovenije-#{$category}-ffffff-477dca-0-240-41.svg');
      }

    }
  }


  h2.slogan {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: normal;
    color: $logo-button-color;
    background: $white;
    border-top: 1px solid darken($logo-button-background, 3%);

    display: none;

    @include media($medium-screen-up) {
      display: block;
      @include span-columns(12);
      @include omega();
      text-align: center;
      position: absolute;
      bottom:0;
      left: 0;
    }
  }

  .sliding-menu-button {
    text-align: left;
    background-color: $logo-button-background;
    // @include button(flat, $logo-button-background);
    border-radius: 0;
    overflow: hidden;
    padding: 7px 16px 7px 16px;
    position: relative;
    cursor: pointer;
    outline: none;
    color: $base-accent-color;
    @include span-columns(12);
    @include omega();
    border-bottom: 1px solid darken($logo-button-border-color, 15);

    @include media($medium-screen-up) {
      border: 1px solid $logo-button-border-color;
      text-align: center;
      padding: 10px 16px 2.5rem 16px;
    }

    &:hover:not(:disabled) {
      background-color: darken($logo-button-background, 3%);
    }

    i {

    }
  }
}

