.recent-categories {
  position: absolute;
  z-index: 1002;
  background: puple;
  top: 0px;
  left: 0;
  right: 0;
}

.button-group.button-group--mobile {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: $map-widget-border-color !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-font-size: 1em !default;
  $base-background-color: white !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $widgets-separation: 10px;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  //////////////////////////////////////////////////////////////////////////////////

  $button-group-background: $base-background-color;
  $button-group-color: lighten($base-font-color, 30%);
  $button-group-border: 1px solid $map-widget-border-color;
  $button-group-inner-border: 1px solid lighten($map-widget-border-color, 18%);
  $button-group-background-checked: $base-accent-color;
  $button-group-color-checked: white;
  $button-group-border-checked: darken($button-group-background-checked, 15%);

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  @include pad($base-page-pad);
  white-space: nowrap;
  max-width: 100%;
  overflow: auto;


  @include media($medium-screen-up) {
    right:  $widgets-separation;
    left: $sliding-menu-width;
  }

  @include media($landscape-large-screen-up) {
    right: $data-bar-width + $widgets-separation;
  }

  input {
    display: none;
  }

  label {
    margin-bottom: 0;
    display: inline-block;
    margin-right: 4px;
    position: relative;

    @include media($medium-screen-up) {
      margin-right: 0px;
      // float: left;
    }

    .tag {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      zoom: 0.6;
      color: $button-group-color;
      text-align: center;
    }


    .button-group-item {
      background: $button-group-background;
      border: $button-group-border;
      border-radius: 0;
      color: $button-group-color;
      cursor: pointer;
      display: inline-block;
      font-size: $base-font-size;
      font-weight: normal;
      line-height: 1;
      padding: 0.75em 1em;
      width: 100%;
      border-radius: $base-border-radius;

      @include media($medium-screen-up) {
        border-left: 0;
        border-right: $button-group-inner-border;
        width: auto;
        border-radius: 0;
      }

      &:focus,
      &:hover {
        background-color: darken($button-group-background, 3%);
      }

      &.active {
        background: $button-group-background-checked;
        border: 1px solid $button-group-border-checked;
        box-shadow: inset 0 1px 2px darken($button-group-background-checked, 10%);
        color: $button-group-color-checked;

        & > .tag {
          color: $button-group-color-checked;
        }
      }
    }

    &:first-child .button-group-item {
      // border-top-left-radius: $base-border-radius;
      // border-top-right-radius: $base-border-radius;
      // border-top: $button-group-border;

      @include media($medium-screen-up) {
        border-bottom-left-radius: $base-border-radius;
        border-left: $button-group-border;
        border-top-left-radius: $base-border-radius;
        // border-top-right-radius: 0;
        &.active {
          border-left: 0;
        }
      }
    }

    &:last-child .button-group-item {
      // border-bottom-left-radius: $base-border-radius;
      // border-bottom-right-radius: $base-border-radius;
      // border-bottom: $button-group-border;

      @include media($medium-screen-up) {
        // border-bottom-left-radius: 0;
        border-bottom-right-radius: $base-border-radius;
        border-right: $button-group-border;
        border-top-right-radius: $base-border-radius;

        &.active {
          border-right: 0;
        }
      }
    }
  }
}
