// Social sharing buttons
@import '../../../bower_components/rrssb/scss/rrssb';

.rrssb-buttons--zatresi {
  position: absolute;
  bottom: 10px;
  left: 44px;
  width: auto;
  z-index: 1;
  right: 10px;
  max-width: 500px;

  @include media($landscape-large-screen-up) {
    right: $data-bar-width + 10px;
  }

  &.is-show-page {
    left: auto;
    max-width: 200px;

    @include media($landscape-large-screen-up) {
      max-width: 500px;
      left: 44px;
    }
  }
}
