// Social sharing buttons
@import "../../../bower_components/rrssb/scss/rrssb";

body.klubs-klub-index {
  .rrssb-buttons--klubi {
    display: none;
  }

  @include grid-media($large-up-grid) {
    .rrssb-buttons--klubi {
      display: block;
    }
  }
}

.rrssb-buttons--klubi {
  position: absolute;
  bottom: 10px;
  left: 44px;
  width: auto;
  z-index: 400;
  right: 10px;
  max-width: 500px;

  @include grid-media($large-up-grid) {
    right: $data-bar-width + 10px;
  }

  &.is-show-page {
    left: auto;
    max-width: 200px;

    @include grid-media($large-up-grid) {
      max-width: 500px;
      left: 44px;
    }
  }
}
