.body {
  width: 100%;
  overflow-x: hidden;
  @include grid-container;
}

.bodywrapper {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  margin-top: $top-nav-height-mobile;

  @include grid-media($medium-up-grid) {
    margin-top: 0;
  }

  &.bodywrapper--embedded {
    margin-top: 0;
  }
}

.bodywrapper-hidden {
  overflow: hidden;
}

.article {
  @include grid-column(12);

  @include grid-media($medium-up-grid) {
    float: none;
    max-width: 520px;
    margin: 0 auto;
  }

  @include grid-media($large-up-grid) {
    max-width: 640px;
  }

  h1 {
    font-size: 3.5rem;
    position: relative;
    color: $blue;
    margin: 0.25em 0 0.5em 0;

    &:before,
    &:after {
      content: attr(title);
      color: rgba(255, 255, 255, 0.1);
      position: absolute;
    }

    &:before {
      top: 1px;
      left: 1px;
    }
    &:after {
      top: 2px;
      left: 2px;
    }

    @include grid-media($medium-up-grid) {
      font-size: 5rem;
    }
  }

  article {
    margin-bottom: 3em;
    h4 {
      // margin: 0 0 0.5em 0;
    }

    section p:last-of-type {
      margin-bottom: 2em;
    }
  }
}
