@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.clanki.grid-items-lines {
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-decoration: none;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:after {
      background: transparentize($grid-item-color, 1);
      pointer-events: none;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &:focus,
    &:hover {

      &:after {
        background-color: transparentize($grid-item-color, 0.95);
      }
    }

  }
}



//----------------------------------------

.clanki {
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 23em;
  $flex-box-max-height: 15em;
  $flex-box-color: $base-font-color;
  $flex-box-top-colors:
    tomato,
    #72BFBF,
    #92B1E3,
    #E3D743,
    #CCC,
    #F6C05C;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: justify;

  .clanek {
    $category-color-1: #9CD181;
    $category-color-2: #FDDB78;
    $category-color-3: #E68C79;
    $category-color-4: #CBD496;
    $category-color-5: #AED1F3;

    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    max-height: $flex-box-max-height;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;

    // @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
    //   &:nth-child(#{$i}) {
    //     $color-from-list: nth($flex-box-top-colors, $i);
    //     border-top: 6px solid $color-from-list;

    //     &:focus,
    //     &:hover {
    //       background-color: transparentize($color-from-list, 0.9);
    //     }
    //   }
    // }

    > h1 {
      color: $flex-box-color;
      font-size: 1.3em;
      text-align: left;
      margin-bottom: 1.5em;
    }

    > p {
      color: transparentize($flex-box-color, 0.4);
      line-height: 1.5em;
      margin: auto;
    }

    .meta {
      color: transparentize($flex-box-color, 0.4);
    }

    .category {
      background: $blue;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 0px 6px;
      // border-radius: 3px;
      line-height: 0.8;
      color: white;
      font-size: 0.8rem;
    }

    .category-razno {
      background: $category-color-1;
    }

    .category-recepti {
      background: $category-color-2;
    }

    .category-prehrana, .category-diete {
      background: $category-color-3;
    }

    .category-vadba {
      background: $category-color-4;
    }

    .category-zdravje {
      background: $category-color-5;
    }

    .category-novice {

    }

    &:visited {
      h1, small, p {
        color: lighten($base-font-color, 40%);
        @include transition(all 0.2s);
      }
      &:hover {
        h1, small, p {
          color: transparentize($flex-box-color, 0.4);
        }

        .category {
          background: $blue;
        }

        .category-razno {
          background: $category-color-1;
        }

        .category-recepti {
          background: $category-color-2;
        }

        .category-prehrana, .category-diete {
          background: $category-color-3;
        }

        .category-vadba {
          background: $category-color-4;
        }

        .category-zdravje {
          background: $category-color-5;
        }

        .category-novice {

        }
      }

      .category {
        background: lighten($blue, 20%);
      }

      .category-razno {
        background: lighten($category-color-1, 20%);
      }

      .category-recepti {
        background: lighten($category-color-2, 20%);
      }

      .category-prehrana, .category-diete {
        background: lighten($category-color-3, 20%);
      }

      .category-vadba {
        background: lighten($category-color-4, 20%);
      }

      .category-zdravje {
        background: lighten($category-color-5, 10%);
      }

      .category-novice {

      }
    }
  }

  .clanek-first {
    background: none;
    display: none;

    @include media($medium-screen) {
      display: block;
    }
  }

  .clanek-big {
    @include flex(1 1 40em);
  }
}
