@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.clanki {
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 23em;
  $clanki-margin-top: 60px;
  $flex-box-max-height: 15em;
  $flex-box-color: $light-gray;
  $flex-box-top-colors:
    tomato,
    #72BFBF,
    #92B1E3,
    #E3D743,
    #CCC,
    #F6C05C;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: justify;

  margin-top: $clanki-margin-top;

  .clanek {
    $category-color-1: #9CD181;
    $category-color-2: #FDDB78;
    $category-color-3: #E68C79;
    $category-color-4: #CBD496;
    $category-color-5: #AED1F3;

    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    display: block;
    margin: $flex-box-gutter;
    // padding: 2em 2em 3em 2em;
    text-decoration: none;
    max-height: $flex-box-max-height;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    min-height: 200px;
    color: $flex-box-color;

    // @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
    //   &:nth-child(#{$i}) {
    //     $color-from-list: nth($flex-box-top-colors, $i);
    //     border-top: 6px solid $color-from-list;

    //     &:focus,
    //     &:hover {
    //       background-color: transparentize($color-from-list, 0.9);
    //     }
    //   }
    // }

    > h1 {
      font-size: 1.3em;
      text-align: left;
      margin-bottom: 0.5rem;
      padding: 0.5rem 1rem 4rem 1rem;

      @include linear-gradient(transparentize(#000, 0.2), transparentize(#000, 1), $fallback: transparent);
    }

    > p {
      line-height: 1.5em;
      margin: auto;
    }

    .meta {
      padding: 1rem;
      position: relative;
      top: -4rem;
      color: $flex-box-color;
    }

    .read-indicator {
      background: #E65C4D;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    &, &:hover {
      .category {
        background: $blue;
        position: absolute;
        bottom: 1rem;
        left: 0;
        padding: 0 0.5rem 0 1rem;
        color: white;
      }

      .category-razno {
        background: $category-color-1;
      }

      .category-recepti {
        background: $category-color-2;
      }

      .category-prehrana, .category-diete {
        background: $category-color-3;
      }

      .category-vadba {
        background: $category-color-4;
      }

      .category-zdravje {
        background: $category-color-5;
      }

      .category-novice {

      }
    }

    &:hover {
      > h1 {
        color: $white;
      }
    }

    &:visited {
      .read-indicator {
        background: transparentize(green, 0.8);
      }
    }
  }

  .clanek-first {
    background: none;
    display: none;

    @include media($medium-screen) {
      display: block;
    }
  }

  .clanek-big {
    @include flex(1 1 40em);
  }
}
