// TODO: scope this to only the klubs template
.loader {
  @extend %loader;
  height: calc(100vh - #{$top-nav-height-mobile});
  color: $blue;

  @include grid-media($medium-up-grid) {
    height: 100vh;
  }
}

.loader--klubs {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;

  // Place the spinner right around the marker
  transform: translateY(-21px);
}

.loader--embeds {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.klubs-page {
  min-height: 100%;
  width: 100%;

  .recent-categories {
    $widgets-separation: 10px;

    position: absolute;
    z-index: 1002;
    top: 0px;
    left: 0;
    right: 0;
    // overflow: hidden;
    margin: $base-spacing;

    @include grid-media($medium-up-grid) {
      // right:  $widgets-separation;
      right: 9.5em;
      left: $sliding-menu-width;
      margin-left: 0;
    }
  }

  .embedded-add-klub-btn {
    z-index: 1003;
  }
}

.map-and-klubpage {
  flex-grow: 1;

  @include grid-media($large-up-grid) {
    flex-direction: row;
  }
}
