// TODO: scope this to only the klubs template
.loader {
  @extend %loader;
  height: calc(100vh - #{$top-nav-height-mobile} );
  color: $blue;

  @include media($medium-screen-up) {
    height: 100vh;
  }
}


.loader--klubs {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  @include media($landscape-large-screen-up) {
    right: $data-bar-width;
  }
}


.klubs-page {
  height: 100%;
  width: 100%;
}


.map-and-klubpage {
  @include flex-grow(1);

  @include media($landscape-large-screen-up) {
    @include flex-direction(row);
  }
}
