// TODO: scope this to only the klubs template
.loader {
  @extend %loader;
  height: calc(100vh - #{$top-nav-height-mobile});
  color: $blue;

  @include media($medium-screen-up) {
    height: 100vh;
  }
}

.loader--klubs {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;

  // Place the spinner right around the marker
  @include transform(translateY(-21px));
}

.loader--embeds {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.klubs-page {
  min-height: 100%;
  width: 100%;

  .recent-categories {
    $widgets-separation: 10px;

    position: absolute;
    z-index: 1002;
    top: 0px;
    left: 0;
    right: 0;
    // overflow: hidden;
    margin: $base-page-pad;

    @include media($medium-screen-up) {
      // right:  $widgets-separation;
      right: 9.5em;
      left: $sliding-menu-width;
    }

    @include media($landscape-large-screen-up) {
    }
  }

  .embedded-add-klub-btn {
    z-index: 1003;
  }
}

.map-and-klubpage {
  @include flex-grow(1);

  @include media($landscape-large-screen-up) {
    @include flex-direction(row);
  }
}
