/*
* @Author: Pedro Kostelec
* @Date:   2017-06-10 17:01:33
* @Last Modified by:   Pedro Kostelec
* @Last Modified time: 2018-12-08 21:32:23
*/

.obcina-page {
  .klub-list-section {
    @include grid-container;

    .image {
      width: 100%;
      max-width: 200px;
      max-height: 150px;
      overflow: hidden;
      border-radius: 4px;
      margin: 0 auto;

      @include grid-media($large-up-grid) {
        margin: 0 0 0 auto;
      }
    }

    .category-details {
      text-align: center;

      @include grid-media($large-up-grid) {
        text-align: right;
        @include grid-column(3);
      }
    }

    .klub-list-container {
      @include grid-media($large-up-grid) {
        @include grid-column(9);
      }
    }
  }
}
