.oprojektu {
  section {
    margin: 2em 0;
  }
  h4 {
    // margin: 1em 0 0.5em 0;
  }

  ul {
    @extend %default-ul;

    &.icon-bullets {
      padding: 0;

      ul > li {
        list-style: inherit;
      }
    }

    li {
      margin-bottom: 0.5em;
    }
  }

  ol {
    li {
      list-style-type: decimal;
      list-style-position: inside;
      margin-bottom: 1em;
    }
  }

  .icon-bullets {
    .bullet {
      flex-basis: 30em;
    }
  }

  // // &:first-item {  // really need html bars
  // margin-top: $top-nav-height;
  // // }

  .flash-notice {
    @extend %flash-simple;
  }
}
