/*
* @Author: Pedro Kostelec
* @Date:   2016-12-27 22:30:42
* @Last Modified by:   Pedro Kostelec
* @Last Modified time: 2017-01-01 14:48:56
*/
.seznam-klubov-page {


  .recent-categories {
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
  }

  .klub-list {
  }

  article {
    margin-bottom: 0;
  }
}
