%loader {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10em;
  position: relative;
  pointer-events: none;
  @include animation(fadeIn 1.0s 0.25s ease-in);
  @include animation-fill-mode(backwards);

  .spinner-container {
    position: relative;
    pointer-events: none;
  }
  .spinner {
    $spinner-width: 50px;
    $spinner-height: 50px;
    $spinner-color: $blue;
    $spinner-thickness: 2px;
    $spinner-spacing: - $spinner-thickness/2;
    $spinner-offset-left: - $spinner-width / 2;
    $spinner-offset-top: - $spinner-height / 2;

    position: absolute;
    border-radius: 100%;
    /* -webkit-animation: spin .5s infinite linear; */
    border-bottom: $spinner-thickness solid $spinner-color;
    border-left: $spinner-thickness solid $spinner-color;
    border-right: $spinner-thickness solid transparent;
    border-top: $spinner-thickness solid transparent;
    height: $spinner-width;
    width: $spinner-height;
    pointer-events: none;

    $spin-anim-speed: 0.5s;
    $fade-anim-speed: 2s; //$spin-anim-speed*8;

    left: $spinner-offset-left;
    top: $spinner-offset-top;


    @include animation(spin $spin-anim-speed infinite linear, fadeInOut1 $fade-anim-speed infinite linear);

    &:nth-child(2) {
      $spinner-color2: adjust-hue($spinner-color, -40%);
      border-bottom-color: $spinner-color2;
      border-left-color: $spinner-color2;
      width: $spinner-width - 2*$spinner-thickness - 2*$spinner-spacing;
      height: $spinner-width - 2*$spinner-thickness - 2*$spinner-spacing;
      left: $spinner-thickness + $spinner-spacing + $spinner-offset-left;
      top: $spinner-thickness + $spinner-spacing + $spinner-offset-top;

      @include animation(spin $spin-anim-speed infinite linear, fadeInOut2 $fade-anim-speed infinite linear);
    }

    &:nth-child(3) {
      $spinner-color3: adjust-hue($spinner-color, -80%);
      border-bottom-color: $spinner-color3;
      border-left-color: $spinner-color3;
      width: $spinner-width - 4*$spinner-thickness - 4*$spinner-spacing;
      height: $spinner-width - 4*$spinner-thickness - 4*$spinner-spacing;
      left: 2*($spinner-thickness + $spinner-spacing) + $spinner-offset-left;
      top: 2*($spinner-thickness + $spinner-spacing) + $spinner-offset-top;
      @include animation(spin $spin-anim-speed infinite linear, fadeInOut3 $fade-anim-speed infinite linear);
    }
  }
}
