{{view "leaflet-map" zoomBinding="zoom" centerBinding="center"}}
<h2 id='title'>Zatresi - Treniraj kar ti scre pozeli!</h2>
{{klub-list klubs=content action="showKlub" isShowPage=isShowPage}}
{{outlet}}
