{{view "leaflet-map" zoomBinding="zoom" centerBinding="center"}}
<h2 id='title'>Zatresi - Treniraj kar ti scre pozeli!</h2>
{{klub-list klubs=controller isShowPage=isShowPage currentRouteName=currentRouteName action='zoomToMarker'}}
{{outlet}}
