{{view "leaflet-map" zoomBinding="zoom" centerBinding="center"}}
<h2 id='title'>Zatresi - Treniraj kar ti scre pozeli!</h2>
{{klub-list klubs=controller isShowPage=isShowPage currentRouteName=currentRouteName action='zoomToMarker'}}
{{outlet}}

<div class="social-buttons">
  <div class="fb-like" data-href="https://www.facebook.com/zatresi.si" data-width="225" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
