<div class="body">
  <div class="button-group">
    {{#each category in categories}}
      <label>
        <input type="radio" name="button-group" {{bind-attr value="category"}}>
        {{#link-to 'clanki' (query-params category=category) classNameBindings=":category :button-group-item"}}
          {{capitalize-text category}}
        {{/link-to}}
      </label>
    {{/each}}
  </div>

  <section class="clanki">

    <div class="clanek clanek-first">
    </div>

    {{#each clanek in filteredClaneks}}
      {{clanek-item clanek=clanek}}
    {{/each}}

  </section>
</div>