<div class="body">
  <div class="article dodaj-klub">

    <article>
      <h1 title="Dodaj klub">Dodaj klub</h1>

      <section>
        <KlubForm @klub={{model}} @submitButtonDisabled={{submitButtonDisabled}} @onSubmit={{action "createKlub"}} />
      </section>
    </article>

    {{outlet}}
  </div>
</div>