<div class="body">
  <div class="article dodaj-klub">

    <article>
      <h1 title="Dodaj klub">Dodaj klub</h1>

      <section>
        {{klub-form klub=model submitButtonDisabled=submitButtonDisabled submit="createKlub"}}
      </section>
    </article>

    {{outlet}}
  </div>
</div>