<div class="body">
  <div class="article dodaj-klub">

    <article>
      <h1 title="Dodaj online trening">Dodaj online trening</h1>

      <section>
        <p>Če ste organizator online treningov, lahko informacije o vaših online treningih objavite na klubi.si, tako da na {{mail-to 'pedro@klubi.si'}} pošljete naslednje informacije:</p>

        <dl>
          <dt>Naslov</dt><dd>Opisni naslov aktivnosti [max 50 znakov]</dd>
          <dt>Kratek opis</dt><dd>Kratek opis aktivnosti za prikaz na seznamu treningov. [max 250 znakov]</dd>
          <dt>Dolgi opis</dt><dd>Vse kar želite povedati. Nujno vključite informacijo o tem, kako lahko obiskovalci trenige spremljajo, način poteka treningov in informacijo ali je za trening potrebno urediti plačilo, itd.</dd>
          <dt>Kategorija</dt><dd>Za kaksen tip aktivnosti se gre. Primeri: fitnes, ples, joga, itd.</dd>
          <dt>Organizator</dt><dd>Ime kluba/organizacije, ki organizira dejavnost.</dd>
        </dl>
      </section>
    </article>

    {{outlet}}
  </div>
</div>