<div class="body">

  <div class="article error-page">
    <article>
      <h1 title="Napaka :(">Napaka :(</h1>

      <section>
        <div class="alert alert-error">
          Prišlo je do napake pri nalaganju podatkov. Prosim, osvežite stran in poskusite znova.
        </div>
      </section>
    </article>
  </div>
</div>