{{leaflet-map wantedZoom=zoom wantedCenter=markerCenter klubs=filteredKlubs showKlub="showKlub" isShowPage=isShowPage categoryShown=category}}

{{data-bar isShowPage=isShowPage klubs=filteredKlubs action="zoomToMarker"}}

{{recent-categories}}

{{#unless anyKlub}}
  <div class="loader loader--klubs">
    <div class="spinner-container">
      <div class="spinner"></div>
      <div class="spinner"></div>
      <div class="spinner"></div>
    </div>
  </div>
{{/unless}}

{{outlet}}