{{view "leaflet-map" zoom=zoom wantedCenter=markerCenter}}

{{data-bar isShowPage=isShowPage klubs=filteredKlubs action="zoomToMarker"}}

{{recent-categories}}

{{#unless anyKlub}}
  <div class="loader">
    <div class="spinner-container">
      <div class="spinner"></div>
      <div class="spinner"></div>
      <div class="spinner"></div>
    </div>
  </div>
{{/unless}}

{{outlet}}
