<div class="body">

  <div class="article">

    <div class="scroll-on-page">
      <aside id="scroll-on-page-top">
        <!-- <a class="scroll-on-page-link" href="#ozatresi">Kaj je zatresi.si?</a>
        <a class="scroll-on-page-link" href="#ekipa">Ekipa</a>
        <a class="scroll-on-page-link" href="#kontakt">Kontakt</a> -->
      </aside>

      <article>
        <section>
          <h4 id="ozatresi">Kaj je zatresi.si</h4>
          <p>Zatresi.si je brskalnik za sportne klube in aktivnosti v Sloveniji. Imamo najvecjo bazo sportnih klubov v Sloveniji, ki jo uborabnikom prestavimo na interaktivnem zemljevidu, da hitreje najdes klub v svoji blizini.

          Z zatresi.si lahko:

          * poisces nek sportni klub zase, npr za fuzbal, rokomet, karate, fitnes center, itd kjerkoli v Sloveniji

          * okrijes novi sport, ki se trenira v tvoji blizini


          - zakaj je nastal

          Zatresi.si je nastal iz lastne potrebe. Pred nedavnim sem iskal karate klub, vendar si iz spletnim stranmi sportnih klubov nisem mogel veliko pomagati, ker (vsaj vecina) ni vec aktualnih, ali pa so v Googlu sele nekje na deseti strani. Zaradi slabega pregleda karate klubov v Sloveniji in blizini svojega doma sem potreboval tri tedne brskanja po internetu, povprasevanju in obiskovanja klubov, da sem nasel takega, ki mi je vsec.

          Iz tega je prisla ideja, in kmalu natem sem jo tudi izvedel. Dela je sicer veliko vec kot sem sprva mislil. Najti vse sportne klube v sloveniji je izjemno tezka naloga, ki je casovno zelo zamudna. Zato z veseljem prejmem vsako pomoc pri zbiranju podatkov o klubih. Ce zelis pomagati, preberi tukaj kaj potrebujemo.

          Zal ne morem garantirati, da so na zatresi.si vsi sprotni klubi v Sloveniji. Nekatere zal zgresim. Ce opazis, da sem katerega zgresil, uporabi obrazek na naslovni strani z napisom "Ne najdes svojega kluba?" ali pa direktno pisi na pedro@zatresi.si




          - best effort
            - ne garantiramo, vendar se trudimo. lahtko tudi ti pomagas

        </section>
        <section>
          <h4 id="ekipa">Ekipa</h4>

          Pedro
            - Idejni vodja in trenutno edini izdelovalec
            - programiranjem, raziskovanje, dodajanjem klubov in preverjanjem podatkov, reklamiranje, pisanjem besedil, itd

          - Zelis pomagatati?
        </section>
        <section>
          <h4 id="kontakt">Kontakt</h4>

          - facebook
          - twitter
          - email

          <a class="scroll-on-page-link" href="#scroll-on-page-top">Na vrh strani</a>
        </section>
      </article>
    </div>
  </div>
</div>


{{outlet}}
