

<div class="body">
  <div class="article seznam-klubov-page">
    <article>

      <RecentCategories @linkDestination='seznam-klubov.klubs'/>

      {{#link-to 'dodaj-klub' class="pure-button embedded-add-klub-btn"}}{{fa-icon "plus"}} Dodaj klub{{/link-to}}

      {{outlet}}

    </article>
  </div>
</div>